.heading{
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 15px;
    color: rgb(10, 10, 10);
}

.copy_right_footer{
    position: fixed;
    color:ivory;
    bottom: 0;
    width: 100%;
    background: lightslategrey;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}